  <!--Content Section One-->
    <section id="blog">
    	<div class="container">
    		<div class="row-fluid">
        <div class="span12">
          
          <!--Bread Crumbs-->
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Blog</a> <span class="divider">/</span></li>
            <li class="active">Blog Article Title</li>
          </ul>
        </div>
      </div>
      
      <div class="row-fluid"
    			
    			<!--Blog Article Container-->
    			<div class="span9 article-container">
    				
    				<!--Article One -->


								 <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

							  <% if @posts.any? %>
							      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
							      <%= will_paginate @posts %>
							  <% else %>
							    <%= t('.no_blog_articles_yet') %>
							  <% end %>
								
    				<!--End Article-->
    				
    			</div><!--End Blog Article Container-->
    			
    			
    			<!--Right Side Bar-->
     			<div class="span3 sidebar-container">
						<% content_for :body_content_right_prepend do -%>
						  <%= raw @page.content_for(Refinery::Pages.default_parts.second.to_sym) %>
						<% end if Refinery::Pages.default_parts.many? -%>
    				<br />
    				
    				<hr>
    				
						<%= render :partial => '/refinery/blog/shared/body_content_right' %>


    				
  					
  					<hr>
  					
  					<div class="boxed">
						 <%= render :partial => '/refinery/blog/shared/rss_feed' %>
  					</div>
					
    			</div><!--End Span-->
    			
    		</div>
    	</div>
    </section>
  
  


<!-- -->