<!-- Nivo Slider -->
	<div class="slider-wrapper theme-default">
	    <div id="slider" class="nivoSlider">
		    <% @page.images.each_with_index do |img, index| %>      
		        <%= image_tag img.url, :title => '#htmlcaption' %>
						<div id="htmlcaption" class="nivo-html-caption">
						<%=raw @page.caption_for_image_index(index) %>
						</div>
        <% end %>  
			</div>
	</div>  


 	<div class="content">
			

   <div class="row">
    <div class="span12">
			<div class="row-fluid">
				
				<div class="span4"><%= raw @page.content_for(:box_one) %></div>

				<div class="span4 dotted"><% @items = Refinery::News::Item.latest(2) %>
				<%= render :partial => '/refinery/news/items/recent_posts' %></div>

				<div class="span4 dotted"><% @blog_posts = Refinery::Blog::Post.live.limit(2) %>
				<%= render :partial => '/refinery/blog/posts/recent_blog_posts' %></div>
				</div>
        

				<div class="row-fluid dotted-top">
				  <div class="span8">
					<h1>Especialistas</h1>
					<% @all_doctors = Refinery::Doctors::Doctor.all %>
					
					<% @doctor_branch = [] %>
	        <% @all_doctors.each do |doctor| %>
	        <% @doctor_branch << doctor.branch %>
	        <% end %>
	        <% @all_doctor_branch = @doctor_branch.uniq %>
					
	        <% @all_doctor_branch.each do |branch| %>
							<ul>
								<li><%=h link_to branch, refinery.find_all_doctors_by_branch_path(:find_all_doctors_by_b => branch) %></li>
							</ul>
				  <% end %>

				  <div class="span4"><%= raw @page.content_for(:box_three) %></div>
				</div>
  </div>
</div>

</div>



