



<div class="content">

				<%= raw @page.content_for(:top) %>								

	<div class="row-fluid">
		<div class="span6">
				<%= raw @page.content_for(:body) %>								
		</div>
		<div class="span6">
	
	<!-- Nivo Slider -->
		<div class="slider-wrapper theme-default">
		    <div id="slider" class="nivoSlider">
			    <% @page.images.each_with_index do |img, index| %>      
			        <%= image_tag img.url, :title => '#htmlcaption' %>
							<div id="htmlcaption" class="nivo-html-caption">
							<%=raw @page.caption_for_image_index(index) %>
							</div>
	        <% end %>  
				</div>
		</div>
		</div>  
  </div>

				<%= raw @page.content_for(:colateral) %>								
					
</div>

