<!--Blog Article Container-->
<% if post.live? %>
<div class="span9 article-container">
	
	<!--Article One -->
	<div class="row-fluid blog-article">
		<div class="span2 text-center">
      <div class="news-date">
			 <h2><%=l post.published_at.to_date, :format => :day %></h2> 
       <h3><%=l post.published_at.to_date, :format => :month %></h3>
      </div>
    </div>
		
		<div class="span8"><!-- start span10 -->
     

			<article>
		      <h2><%= link_to post.title, refinery.blog_post_path(post) %></h2>
		      <section>
		        <%= "#{t('by', :scope => 'refinery.blog.posts.show')} #{post.author.username}" if post.author.present? %>.
		        <% if (categories = post.categories).any? %>
		          <aside>
		            <%= t('filed_in', :scope => 'refinery.blog.posts.show') %>
		            <%=raw categories.collect { |category| link_to category.title, refinery.blog_category_path(category) }.to_sentence %>
		          </aside>
		        <% end %>
		        <% if (tags = post.tags).any? %>
		          <aside>
		            <%= t('tagged', :scope => 'refinery.blog.posts.show') %>
		            <%=raw tags.collect { |tag| link_to tag, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) }.to_sentence %>
		          </aside>
		        <% end %>
		      </section>
		    <section class='clearfix'>
		      <% if blog_post_teaser_enabled? %>
		        <%= blog_post_teaser(post) %>
		      <% else %>
		        <%= post.body.html_safe %>
		      <% end %>
		    </section>

		      <div class="span3">
		        <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post), :class => "more" if blog_post_teaser_enabled? %>
		      </div>
		      
					<div class="span5">

			      <aside class='comment_count'>
			        <% if Refinery::Blog::Post.comments_allowed? %>
			          <% if post.comments.any? %>
			             (<%= pluralize(post.comments.approved.count, t('singular', :scope => 'refinery.blog.shared.comments')) %>)
			          <% else %>
			                (<%= t('none', :scope => 'refinery.blog.shared.comments') %>)
			          <% end %>
			        <% end %>
			      </aside>
					</div>
			
		  </article>

		
		

		</div><!-- start span10 -->

	</div><!--End Article-->
</div>	
<% end %>	

