
<% content_for :content_right do %>
	<%= raw @page.content_for(:content_right) %>
<% end %>

<% content_for :body_content_left do %>
  
    <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
                 :locals => {
                 :object => @inquiry,
                 :include_object_name => true
                 } %>
		<div class='span8'>
      <div class="field">
        <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="field">
        <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="field">
        <%= f.text_field :phone, :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class='field message_field'>
        <%= f.text_area :message, :rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="actions">
        <%= f.submit t('.send'), :class => "btn btn-primary" %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
      </div>
  </div>
    <% end %>

<% end %>
<%= render :partial => "/refinery/content_page" %>