<!DOCTYPE html>
<html lang="en">
<%= render '/refinery/head' %>

<head>
  <meta charset="utf-8">
  <title>Breakroom | Designed By Theme Armada</title>
  <meta name="keywords" content="made with bootstrap, wrap bootstrap themes, bootstrap agency theme, creative bootstrap sites, Agency11 theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <meta property="og:title" content="Breakroom | Designed By Theme Armada">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.themearmada.com/demos/breakroom">
	<meta property="og:site_name" content="Theme Armada">
	<meta property="og:description" content="">


  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">
</head>

<body>
        
  <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDownBig">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/home"><img src="<%= asset_path("logo_cmbo_2.png") %>" alt="Title"></a>
        <div class="nav-collapse collapse">

					<%= render '/refinery/menu' %>

        </div><!--/.nav-collapse --> 
				
      </div>
    </div>
  </div>





          <%= yield %>
  
  <section id="footer">
    <div class="container">
  		<div class="row-fluid">
  			<div class="span4 text-left copyright">
        	<p>&copy; Centro Médico Bournigal. All Rights Reserved.<br />
  			</div>
  			
  			<div class="span8 text-right">
  				<ul class="footer-links">
  					<li><a href="/trabaja-con-nosotros">Trabaja con nosotros</a></li>
  					<li><a href="/plantas-de-piso" target="_blank">Plantas de piso</a></li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </section>
  
    
    
    
    <!--Twitter Handle - Insert your Twitter username below ex: (screen_name=USERNAME&include) -->
    <script src="http://api.twitter.com/1/statuses/user_timeline.json?screen_name=themearmada&amp;include_rts=true&amp;count=4&amp;callback=twitterCallback2" type="text/javascript"></script>
    
     <%= render '/refinery/javascripts' %>
   
    </body>
</html>

